.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;

  .image {
    width: 600px;
    height: 500px;
  }

  .image > img{
    width: 600px;
    height: 500px;
  }

}
.container > a {
  color: black;
  text-decoration: white;
}
