<header class="header">
  <a href="https://www.aplicadorazonasul.com.br/" target="_blank"><h2>Aplicadora Zona Sul</h2></a>
  <div class="icon">
    <a href="https://www.aplicadorazonasul.com.br/" target="_blank">
      <img src="https://www.aplicadorazonasul.com.br/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ficon.e953208a.jpg&w=128&q=75" />
    </a>
  </div>
  <nav>
    <ul class="link_list">
      <li><a href="" target="_blank">Linkedin</a></li>
      <li><a href="" target="_blank">Instagram</a></li>
      <li><a href="" target="_blank">Twitter</a></li>
      <li><a href="" target="_blank">Facebook</a></li>
    </ul>
  </nav>
</header>
